<br>
<div class="container">
<table class="table table-bordered ">
    <thead class="text-center">
        <td>Name</td>
        <td >Price</td>
        <td>Amount</td>
        <td>Total</td>
        <td>Options</td>
    </thead>
    <tbody>
        <tr *ngFor="let good of cart; index as i">
            <td>{{good.name}}</td>
            <td>{{good.price | currency}}</td>
            <td>
                <mat-form-field class="example-full-width"> 
                        <input matInput type="number" placeholder="Amount (kg)" [(ngModel)]="good.amount">   
                </mat-form-field>
            </td>
            <td>{{(good.price*good.amount) | currency}}</td>
            <td class="text-center">
                <button mat-raised-button color="primary" (click)="save(i)" >Save <mat-icon>save</mat-icon></button>
                <button mat-raised-button color="warn" (click)="delete(i)" >Delete <mat-icon>delete</mat-icon></button>
            </td>
        </tr>
    </tbody>
    <tr>
        <td>Total:</td>
        <td>{{ total | currency }}</td>
    </tr>
</table>
</div>