<div class="body">
    <h2 class="mat-display-1 text-center">Log In</h2>
    <form #f="ngForm" (ngSubmit)="login(f)">
        <div class="example-container">
            <mat-form-field>
                <input matInput type="email" ngModel name="email" #email="ngModel" placeholder="Email" required email>
                <mat-error *ngIf="email.touched && email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="email.touched && email.errors?.email">Your input doesn't match email format</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" ngModel name="password" #password="ngModel" type="password" placeholder="Password" required minlength="6">
                <mat-error *ngIf="password.touched && password.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="password.touched && password.errors?.minlength">Password should be +6 charachters</mat-error>
            </mat-form-field>
        </div>
        <br>
        <div class="activatebutton">
            <button mat-raised-button color="primary" [disabled]="f.invalid">Login</button>
        </div>
    </form>
</div>
